img {
    width: none !important;
}
.app_header .title,
.app_header .back_btn .layui-icon-left {
  font-size: 0.7rem;
  /* font-size: 18px; */
  font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
  text-align: center;
  color: #1d1e2c;
  margin-left: 4.5rem;
}